<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h1>Super cool html</h1>
    <img src="/images?E-pachy_512x512.png" alt="logo" style="position: absolute;top: 2rem;right: 2rem;width: 200px;">
    
    <form action="/addnode" method="post">
        <input type="text" name="add" placeholder="adding node to which path" required>
        <input type="submit" value="ADD NODE">
    </form>

    <form action="/addtonode" method="post">
        <input type="text" name="addtonode" placeholder="add elements to node" required>
        <input type="submit" value="ADD TO NODE">
    </form>

    <form action="/display" method="post">
        <input type="text" name="display" placeholder="path to display" required>
        <input type="submit" value="DISPLAY PATH">
    </form>

    <form action="/" method="post">
        <input type="text" name="display" placeholder="DEV" required>
        <input type="submit" value="DEVELOPMENT">
    </form>

    <div id="result">
        <-12345->
    </div>
    
</body>
</html>